body {
    font-family: Arial, sans-serif;
    background-color: #bda154;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

nav {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Styling for the logo in the navbar */
.logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
  
  /* Styling for the menu items in the navbar */
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  /* Styling for individual menu items in the navbar */
  .menu li {
    margin-right: 20px;
  }
  
  /* Remove margin from the last menu item in the navbar */
  .menu li:last-child {
    margin-right: 0;
  }
  
  /* Styling for links within the menu items in the navbar */
  .menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  /* Styling for hovered links within the menu items in the navbar */
  .menu li a:hover {
    color: #ff7f50;
  }